<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="XPlat Code Coverage">
        <Configuration>
          <Format>cobertura</Format>
          <Include>[DotBoxD.Kernels*]*,[DotBoxD.Abstractions]*,[DotBoxD.Hosting*]*,[DotBoxD.Plugins]*,[DotBoxD.Queryable]*,[DotBoxD.Pushdown.Services]*,[DotBoxD.Services.SourceGenerator]*</Include>
          <Exclude>[*.Tests]*,[DotBoxD.Kernels.TestFixtures.*]*,[DotBoxD.Services]*,[DotBoxD.Codecs.MessagePack]*,[DotBoxD.Transports.*]*,[Examples.*]*</Exclude>
          <ExcludeByFile>**/obj/**/*.cs</ExcludeByFile>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>
